
/*este es un ejemplo de clases en practica con espaciado interno y externo */

.Contenido {

    background: antiquewhite;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 25px;
    margin-right: 40px;
}

/*Éste es un ejemplo de cómo asignar propiedades aun ID*/

#Cuadro1 {
    background: aquamarine;
    padding-left: 50px;
    padding-right: 25px;
    margin: 60px;
}

#Cuadro2 {
    background: aqua;
    padding: 10px 30px 10px 50px;
    margin: 15px 20px;
}

#Cuadro3 {
    background: burlywood;
    padding: 30px;
    margin: 40px;
}