
/*este es un ejemplo de clases en practica con espaciado interno
y externo, con cambios de fondo y color de letras y opacidad*/

.Contenido {

    background-image: url(https://images.pexels.com/photos/674010/pexels-photo-674010.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    background-repeat: repeat-x;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 25px;
    margin-right: 40px;
    color: aliceblue;
}

/*Éste es un ejemplo de cómo asignar propiedades aun ID,
con cambios de fondo y color de letras y opacidad*/

#Cuadro1 {
    background: aquamarine;
    opacity: 0.3;
    padding-left: 50px;
    padding-right: 25px;
    margin: 60px;
    color: black
}

#Cuadro2 {
    background: aqua;
    opacity: 0.6;
    padding: 10px 30px 10px 50px;
    margin: 15px 20px;
    color: black4;
}

#Cuadro3 {
    background: burlywood;
    padding: 30px;
    margin: 40px;
    color: turquoise
}

/*CLASE: PÁRRAFOS*/
/*p:nth-of-type(1){
    font-weight: 600;
    color: #6c6c6c;
    font-size: 14px;
    text-indent: 35px;
}

p:nth-of-type(2){
    font-weight: 900;
    color: #454545;
    font-size: 20px;
    line-height: 2;
    text-align: center;
    word-spacing: 15px;
}

p:nth-of-type(3){
    color: black;
    text-align: right;
}*/

/*CLASE: CARDS*/
/*.CuadrosMAYR3 {
    border: 1px solid #000000;
    padding: 8px;
    margin: 10px 20px;
    border-radius: 5px;
    box-sizing: border-box;
    width: 250px;
    font-weight: 300;
    color: black;
    line-height: 1;
    display: inline-block;
}

.CuadrosMAYR3 p:nth-of-type(1) {
    margin: 2px;
    font-size: 20px;
}

.CuadrosMAYR3 p:nth-of-type(2) {
    margin: 2px;
    font-size: 15px;
    font-weight: 500px;
    color: #aaaaaa;
    line-height: 1.5;
}

.CuadrosMAYR3 p:nth-of-type(3) {
    margin: 2px;
    font-size: 16px;
    font-weight: 700px;
}

.CuadrosMAYR3 a {
    margin: 2px;
    font-size: 16px;
    font-weight: 700px;
    color: blue;
    line-height: 2;
}*/

/*CLASE: Practica divs - Figuras
 #triangulo{
    width: 0;
    height: 0;
    border-left: 200px solid transparent;
    border-right: 200px solid transparent;
    border-bottom: 350px solid red;
    display: inline-block;
}

#cuadrado{
    width: 200px;
    height: 200px;
    background: blue;
    display: inline-block;
}

#circulo{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background: yellow;
    display: inline-block;
}*/

/*Práctica Modificación de Párrafos: Propiedades
- MARGIN: Crea espacios alrededor del elemento (hacia adentro) en todas sus direcciones.
- PADDING: Crea espacios alrededor del contenido hacia afuera.
- FONT-SIZE: Establece el Tamaño del texto.
- FONT-WEIGHT: Establece el grosor del texto.

p.P-1 {
    margin: 10px 5px;
    padding: 4px 10px;
    font-size: 15px;
    font-weight: 600;
    color: #FF339C
}

- COLOR: Establece el color del texto más utilizado en Hexadecimal, puede ser tambien rgb o hsl.
- LINE-HEIGHT: Demarca el espaciado entre las líneas de un párrafo.
- WORD-SPACING: Cambia el espacio entre las palabras.

p.P-2 {
    margin: 15px;
    padding: 5px;
    font-size: 15px;
    font-weight: 600;
    color: #FF33FF;
    line-height: 30px;
    word-spacing: 3px;
}

- TEXT-INDENT: Marca la sangría de la 1era línea del texto.

p.P-3 {
    margin: 0%;
    padding: 20px 5px 10px;
    color: #BB33FF;
    text-indent: 25px; 
}

- TEXT-ALIGN: Alinea el texto/parrafo dentro del espacio/web (izquierda, centro, derecha, justificado -tipo Word-)

p.P-4 {
    margin: 10px 3px 15px 5px;
    padding: 30px;
    color: #8033FF;
    line-height: 18px;
    text-align: center;
}

p.P-5 {
    margin: 13px 5px 15px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: 800;
    color: #4233FF;
    line-height: 25px;
    word-spacing: 2px;
    text-indent: 50px;
    text-align: justify;
}*/

/*Práctica Thumbnail MAYR-6
.Thumbnail {
    width: 320px;
    height: 320px;
    border: 1px solid #d7d1d1;
    border-radius: 7px;
    padding: 10px;
}

.ThumbnailIMG {
    width: 100%;
    height: 240px;
    background-image: url(./Img/prueba.jpg);
    background-repeat: no-repeat;
    background-size: 100% 80%;
}*/

/*Práctica nav-bar MAYR-7*/

.navbar{
    width: 100%;
    background-color: #479e94;
    padding: 15px;
}

p.navb{
    color: #fff;
    margin: 0;
}